# Source files
src/

# TypeScript config
tsconfig.json

# Tests
*.test.js
*.spec.js
tests/

# Dev configs
.editorconfig
.eslintrc
.prettierrc

# Git files
.git/
.gitignore

# Environment files
.env
.env.*

# Logs
logs/
*.log

# Build files
build/

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# VS Code
.vscode/
